In [2]:
import pandas as pd
import numpy as np

# Pandas IV - 19/07

1. Cargad el csv que guardasteis ayer.
Antes de seguir con las preguntas, para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame, esto lo haremos sobre el archivo de 2016.xlsx. Para ello vamos a utilizar el m칠todo .dropna() de Pandas. Tendr칠is que ejecutar la siguiente l칤nea de c칩digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.
"""
df.dropna(inplace = True)
"""
쮺u치ntas filas se han eliminado con esta l칤nea de c칩digo?

In [5]:
df = pd.read_csv("data/tickets_pair3.csv")
a = len(df)
df.dropna(inplace = True)
b = len(df)
print("Las filas eliminadas son", a - b)

Las filas eliminadas son 112

In [6]:
df.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

2. 쮺u치l es el n칰mero de incidencias que se han dado de tipo "Sistema", lo encontrar칠is en la columna de categor칤a?

In [7]:
df_sistema = df[df["categor칤a"] == "Sistema"]
len(df_sistema)

5211

3. 쯏 para la categor칤as de "Hardware" y "Software"? Cread un dataframe nuevo con los resultados de este filtrado de datos.
游늷 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m칠todo isin(). Hacedlo con ambas herramientas.
3.1 De los datos filtrados en el punto 3. 쮺u치ntas de ellas son de tipo "Solicitud" y cu치ntas de tipo "Problema"?
3.2 쮺u치ntas solicitudes tienen una satisfacci칩n de m치s de 3?
3.3 쯏 cu치ntas tienen una satisfacci칩n mayor o igual que 4 y han tardado menos de 3 d칤as de resoluci칩n?

In [8]:
cond1 = df["categor칤a"] == "Hardware"
cond2 = df["categor칤a"] == "Software"
df_software_hardware = df[cond1|cond2]
len(df_software_hardware)

3846

In [9]:
df_software_hardware2 = df[df["categor칤a"].isin(["Hardware", "Software"])]
len(df_software_hardware2)

3846

In [10]:
df_problema = df_software_hardware[df_software_hardware["tipo"] == "Problema"]
len(df_problema)

970

In [11]:
df_solicitud = df_software_hardware[df_software_hardware["tipo"] == "Solicitud"]
len(df_solicitud)

2876

In [12]:
df_satisfaccion3 = df_solicitud[df_solicitud["satisfacci칩n"] > 3]
len(df_satisfaccion3)

2251

In [14]:
cond_1 = df_solicitud["satisfacci칩n"] >= 4
cond_2 = df_solicitud["d칤as_resoluci칩n"] < 3
df_satisfaccion4 = df_solicitud[cond_1 & cond_2]
len(df_satisfaccion4)

285

4. Ahora nuestro jefe quiere saber que cantidad de tickets ha habido en la segunda quincena de Enero. Cread un DataFrame nuevo con los tickets correspondientes a la segunda quincena de Enero.
4.1 쮿a habido alg칰n ticket en esta quincena que corresponda a la categor칤a de "Solicitud"?
4.2 Revisando los datos, nuestro jefe se ha dado cuenta que hay muchos tickets que no tienen ninguna prioridad asignada. Esto no deber칤a seguir repiti칠ndose ya que cada ticket debe tener una prioridad para saber que urgencia debemos darle a cada ticket. Usando el str.contains extraed los tickets que no tengan una prioridad asignada o que tengan una prioridad baja.

In [16]:
df["fecha"] = pd.to_datetime(df["fecha"])
df_quincena = df[(df["fecha"].dt.month == 1) & (df["fecha"].dt.day > 15)]
len(df_quincena)

552

In [17]:
df_quincena_solicitud = df_quincena[df_quincena["tipo"] == "Solicitud"]
len(df_quincena_solicitud)

419

In [19]:
sin_prioridad = df_quincena_solicitud["prioridad"].str.contains("0", case = False, regex = False)
poca_prioridad = df_quincena_solicitud["prioridad"].str.contains("1", case = False, regex = False)
df_prioridades = df_quincena_solicitud[sin_prioridad | poca_prioridad]
len(df_prioridades)

191

5. Nuestro jefe quiere seguir buscando patrones y quiere saber si existe una relaci칩n entre el n칰mero de d칤as que tarda en cerrarse un ticket y la satisfacci칩n de los clientes. Para eso nos pide que:
5.1 Extraigamos los tickets en lo que pasaron 5 o m치s d칤as en ser solucionados.
5.2 Extraigamos los tickets en los que pasaron menos de 5 d칤as en ser solucionados.
5.3 Usando como referencia los dos conjuntos de datos creados en los dos pasos anteriores:
쯈u칠 valores tenemos de satisfacci칩n en cada uno de ellos?
쮼n cu치l de ellos hay m치s puntuaciones de 5 en relaci칩n a la satisfacci칩n?

In [20]:
df_mas_cinco_dias = df[df["d칤as_resoluci칩n"] > 5]
len(df_mas_cinco_dias)

4876

In [21]:
df_menos_cinco_dias = df[df["d칤as_resoluci칩n"] < 5]
len(df_menos_cinco_dias)

6889

In [22]:
df_mas_cinco_dias.satisfacci칩n.value_counts()

satisfacci칩n
5.0    2306
4.0    1489
1.0     580
3.0     409
2.0      92
Name: count, dtype: int64

In [23]:
df_menos_cinco_dias.satisfacci칩n.value_counts()

satisfacci칩n
5.0    3320
4.0    1937
1.0     869
3.0     596
2.0     167
Name: count, dtype: int64

6. Revisando los dataframes generados en el ejercicio anterior, nos hemos dado cuenta que hay una serie de empleados que tardan demasiado en resolver los problemas planteados por los clientes. Nuestro jefe quiere extraer los datos de estos empleados en concreto para saber que esta pasando. En concreto estos empleados son aquellos que tienen los siguientes id's: 1118.0, 730.0, 97.0, 1745.0. Crea un dataframe donde solo tengamos la informaci칩n de estos empleados. Usad el m칠todo isin(), para resolver este ejercicio.

In [24]:
df_empleados = df[df["id_empleado"].isin([1118.0, 730.0, 97.0, 1745.0])]
df_empleados.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
261,GDLTER-1042574687,2016-07-23,1118.0,26.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,10.0,5.0
410,GDLTER-8542577885,2016-07-26,1118.0,8.0,Hardware,Solicitud,2 - Normal,0 - Sin Asignar,15.0,5.0
718,GDLTSR-0342448482,2016-03-19,1118.0,24.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,13.0,5.0
907,GDLTSR-8042389076,2016-01-20,97.0,30.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,10.0,5.0
1792,GHLTNR-4042383675,2016-01-14,97.0,16.0,Acceso&%Login,Solicitud,2 - Normal,3 - Alta,0.0,5.0

7. Utilizando la columna de fecha cread una nueva columna llamada semestre que contenga 1er semestre o 2췈 semestre. Aquellos tickets que pertenezcan a los seis primeros meses tendran el valor de "1er trismestre" y los tickets de julio en adelante tendr치n el valor de "2췈 semestre".

In [26]:
df["trimestre"] = np.where(df["fecha"].dt.month <= 6, "1er semestre", "2췈 semestre")
df.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,trimestre
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2췈 semestre
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1er semestre
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,1er semestre
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,1er semestre
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,1er semestre

8. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de ma침ana.

In [27]:
df.to_csv("data/tickets_pair4.csv")