# Pandas II - 17/07

1. Id cargando todos los ficheros en vuestro jupyter.

In [1]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.read_csv("data/quejas.csv", sep = ";", encoding = "ISO-8859-1")
df1.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN

In [9]:
df2 = pd.read_excel("data/quejas2.xlsx")
df2.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCI√ìN AL CIUDADANO                         ADMINISTRACI√ìN ELECTR√ìNICA
1  ATENCI√ìN AL CIUDADANO                                    FUNCI√ìN P√öBLICA
2  ATENCI√ìN AL CIUDADANO  OFICINAS DE ATENCI√ìN AL CIUDADANO DE LA COMUNI...
3  ATENCI√ìN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCI√ìN AL CIUDADANO                                              OTROS

In [11]:
df3 = pd.read_json("data/quejas.json")
df3.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [14]:
df_sugerencias = df1.loc[df1["tipo"] == "Sugerencia"]
df_sugerencias.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
34,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-28 00:00:00,2022-03-31 00:00:00,"Consejer√≠a de Educaci√≥n, Universidades, Cienci...",Direcci√≥n del √Årea Territorial de Madrid Capital,EDUCACI√ìN,CENTROS EDUCATIVOS
37,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-10 00:00:00,2022-01-12 00:00:00,"Consejer√≠a de Educaci√≥n, Universidades, Cienci...",Direcci√≥n General de Educaci√≥n Infantil Y Prim...,EDUCACI√ìN,CENTROS EDUCATIVOS
40,Sugerencia,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejer√≠a de Educaci√≥n, Universidades, Cienci...",Direcci√≥n del √Årea Territorial de Madrid-Sur,EDUCACI√ìN,CENTROS EDUCATIVOS

In [17]:
cond1= df1["tipo"] == "Queja"
cond2= df1["canal_entrada"] == "PRESENCIAL"
df_queja_presencial = df1.loc[cond1 & cond2, ["fecha_entrada", "fecha_contestacion"]]
df_queja_presencial.head()

           fecha_entrada   fecha_contestacion
45   2022-01-31 00:00:00                  NaN
197  2022-02-17 00:00:00  2022-02-23 00:00:00
420  2022-02-14 00:00:00  2022-02-15 00:00:00
421  2022-02-11 00:00:00  2022-02-11 00:00:00
422  2022-02-14 00:00:00  2022-02-15 00:00:00

2. Para poner el pr√°ctica el read_clipboard en esta p√°gina web os encontrar√©is una tabla similar a esta que os mostramos a continuaci√≥n üëá:
  
   Usando el m√©todo read_clipboard, cread un dataframe nuevo que nos ayude a contestar las siguientes preguntas:
   * Usando el iloc, ¬øCu√°l es la temperatura m√≠nima de Febrero? ¬øY la m√°xima?
   * Usando el loc, ¬øCu√°ntas horas de sol hay en Julio? ¬øY en Diciembre?
   * Usando el iloc, ¬øCu√°l fue la h√∫medad del mes de Septiembre? ¬øY la precipitaci√≥n?
   * Estos datos corresponden a los a√±os 1991-2021. Cread una nueva columna cuyo valor sea "1991-2021".

In [19]:
df4 = pd.read_clipboard()
df4

,Enero,Febrero,Marzo,Abril,Mayo,Junio,‚Äã‚ÄãJulio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
Temperatura media (¬∞C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
Temperatura min. (¬∞C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
Temperatura m√°x. (¬∞C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
Precipitaci√≥n (mm),41,34,40,47,39,16,6,8,22,61,55,46
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%
D√≠as lluviosos (d√≠as),5,4,4,6,5,3,1,2,3,5,5,5
Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7

In [29]:
df4.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,‚Äã‚ÄãJulio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
Temperatura media (¬∞C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
Temperatura min. (¬∞C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
Temperatura m√°x. (¬∞C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
Precipitaci√≥n (mm),41,34,40,47,39,16,6,8,22,61,55,46
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%

In [22]:
df4.iloc[[1,2],1]

Temperatura min. (¬∞C)     1.4
Temperatura m√°x. (¬∞C)    11.4
Name: Febrero, dtype: object

In [30]:
df4.loc['Horas de sol (horas)',["‚Äã‚ÄãJulio","Diciembre"]]

‚Äã‚ÄãJulio      13.1
Diciembre     5.7
Name: Horas de sol (horas), dtype: object

In [26]:
df4.iloc[[3,4], 8]

Precipitaci√≥n (mm)     22
Humedad(%)            41%
Name: Septiembre, dtype: object

In [39]:
df4["A√±o"] = "1991/2021"
df4.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,‚Äã‚ÄãJulio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,A√±o
Temperatura media (¬∞C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5,1991/2021
Temperatura min. (¬∞C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8,1991/2021
Temperatura m√°x. (¬∞C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1,1991/2021
Precipitaci√≥n (mm),41,34,40,47,39,16,6,8,22,61,55,46,1991/2021
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%,1991/2021

3. Por √∫ltimo, guardad el dataframe generado en el ejercicio 2 en formato csv y xlsx.

In [40]:
df4.to_csv("data/datosclimaticos.csv")
df4.to_excel("data/datosclimaticos.xlsx")