# Pandas V - 21/07

In [11]:
import pandas as pd

Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.

In [14]:
df_2016 = pd.read_excel("data/2016.xlsx") 
df_2016["año"] = 2016
df_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0,2016

In [15]:
df_2017 = pd.read_excel("data/2017.xlsx") 
df_2017["año"] = 2017
df_2017.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5,2017
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,2017
2,GDLEER-0042906431,2017-06-20,233,34,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,2017
3,GDLEER-0042997167,2017-09-19,996,21,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,2017
4,GDLEER-0142746832,2017-01-11,1113,48,Software,Problema,2 - Normal,0 - Sin Asignar,1,5,2017

In [16]:
df_2018 = pd.read_excel("data/2018.xlsx") 
df_2018["año"] = 2018
df_2018.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5,2018
1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2018
2,GDDENT-9043303547,2018-07-22,1564,45,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,1,2018
3,GDDESR-1243421724,2018-11-17,32,27,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5,2018
4,GDDESR-8843106588,2018-01-06,1928,45,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8,5,2018

In [17]:
df_2019 = pd.read_excel("data/2019.xlsx") 
df_2019["año"] = 2019
df_2019.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5,2019
1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5,2019
2,GDDEET-7743705549,2019-08-28,654,45,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,1,2019
3,GDDENR-1043755533,2019-10-17,243,15,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2019
4,GDDESR-9243800417,2019-12-01,601,34,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5,2019

In [18]:
df_2020 = pd.read_excel("data/2020.xlsx") 
df_2020["año"] = 2020
df_2020.head()

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5,2020
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5,2020
2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508,8,0 - Sin Clasificar,0 - Sin Asignar,2,1,2020
3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192,20,0 - Sin Clasificar,0 - Sin Asignar,4,5,2020
4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224,7,0 - Sin Clasificar,0 - Sin Asignar,10,5,2020

1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [20]:
df_agentes = pd.read_csv("data/agentes_pair3.csv")
df_empleados = pd.read_csv("data/empleados_pair3.csv")
df_puestos = pd.read_csv("data/puestos_pair3.csv")

2. Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.

In [21]:
def cambio_columnas(dataframe):
    """
   Esta función cambia las columnas a minusculas sin espacios.
  Args: 
       dataframe(dataframe): el dataframe del cual queremos cambiar sus columnas.
   Returns: aunque no tiene return, esta función cambia las columnas a minusculas sin espacios reemplazando el anterior.
   """
    columnas_nuevas = {col : col.lower().replace(" ", "_") for col in dataframe.columns}
    dataframe.rename(columns = columnas_nuevas, inplace = True)

In [24]:
cambio_columnas(df_2016)
cambio_columnas(df_2017)
cambio_columnas(df_2018)
cambio_columnas(df_2019)
cambio_columnas(df_2020)
cambio_columnas(df_agentes)
cambio_columnas(df_empleados)
cambio_columnas(df_puestos)

In [26]:
df_2016

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0,2016
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0,2016
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0,2016
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0,2016
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0,2016

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [27]:
df_2016.drop(["web","índice_"],axis = 1, inplace = True)
df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2016

In [28]:
df_union = pd.concat([df_2016, df_2017,df_2018,df_2019,df_2020], axis = 0, ignore_index = True)
df_union

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2016
...,...,...,...,...,...,...,...,...,...,...,...
97493,TWRTSR-8543883120,2020-02-22,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0,2020
97494,TWRTSR-8744097039,2020-09-23,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,2020
97495,TWRTSR-9643846768,2020-01-16,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,2020
97496,TWRTSR-9944138906,2020-11-03,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0,2020
97497,TWRTST-8643986162,2020-06-04,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0,2020

4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [29]:
df_empleados.head()

,unnamed:_0,turno,id_empleado,apellido,nombre,id_puesto,email
0,0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [30]:
df_puestos.head()

,unnamed:_0,id_puesto,puesto,departamento,tipo_puesto
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo
1,1,10-24111,Operador de Producción,MATERIALES,Operativo
2,2,10-25120,Auxiliar de compras,MATERIALES,Administrativo
3,3,10-25130,Comprador,MATERIALES,Administrativo
4,4,10-32050,Supervisor General de Materiales,MATERIALES,Mandos Medios

In [31]:
df_union_empleados_puestos = df_empleados.merge(df_puestos, on = "id_puesto")
df_union_empleados_puestos.head()

,unnamed:_0_x,turno,id_empleado,apellido,nombre,id_puesto,email,unnamed:_0_y,puesto,departamento,tipo_puesto
0,0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,11,NaN,60,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,366,B,2,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,371,NaN,24,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,1100,NaN,98,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

5. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming

In [32]:
df_union.to_csv("data/relacion_años_pair5.csv")
df_union_empleados_puestos.to_csv("data/relacion_empleados_puestos_pair5.csv")

📌 NOTA Al final de este pair programing deberéis tener tres ficheros:
El fichero de la unión de todos los conjuntos de datos de los distintos años
El fichero con la unión de los datos de puestos y empleados.
El fichero de los agentes.